<h2>Iniciar Sesión</h2>

<div *ngIf = "autenticado; then identificado else noIdentificado">

</div>

<ng-template #identificado>
  <h3>Ya estás identificado.</h3>
  <button (click)="logout()">Logout</button>
</ng-template>

<ng-template #noIdentificado>
  <form (ngSubmit)="login()">
    <label for="usuario">Usuario: </label>
    <input type="text" [(ngModel)]="this.username" id="usuario" name="username" required/>
    <label for="password">Contraseña: </label>
    <input type="text" [(ngModel)]="this.password" id="contrasena" name="password" required/>
    <button type="submit">Entrar</button>
    <h4 *ngIf="error">{{error}}</h4>
  </form>
</ng-template>
