.header-container {
  display: flex;
  justify-content: space-between;
  border: dashed #ececa3 3rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40rem;
  align-items: center;
}

.img-header {
  width: 30%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  border: solid #ececa3 2rem;
  border-radius: 50rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

nav a {
  color: #f6f7cf;
  text-decoration: none;
  font-weight: bold;
  padding: 15rem 25rem;
}
