<div class="header-container">
  <img src="https://cdn.discordapp.com/attachments/870038601889632318/1373732963518517358/aaa.png?ex=682b7c05&is=682a2a85&hm=5fdbb06572068a994465cfc22ee86f7e4e35632f817e8eb31663f6e449377a24&" class="img-header">
  <h1>Plantas</h1>
  <img src="https://cdn.discordapp.com/attachments/870038601889632318/1373733552365109298/aaa.png?ex=682b7c91&is=682a2b11&hm=a0cf08e414995e683fa0961147d776ceadf2382928c9f855e572d3ad05e40c61&" class="img-header">
</div>

<nav>
  <a [routerLink]="['/']">Inicio</a>
  <p>|</p>
  <a [routerLink]="['/aniadir-planta']">Añadir Planta</a>
  <p>|</p>
  <a [routerLink]="['/modificar-planta']">Modificar Planta</a>
  <p>|</p>
  <a [routerLink]="['/login']">Login</a>
</nav>

<router-outlet></router-outlet>
