<main>
  <h2>Modificar o Borrar una planta</h2>

  <article>
    <div>
      <form (ngSubmit)="buscarPlanta()">
        <div class="form-campo otro-campo">
          <label for="id">ID de la planta: </label>
          <input type="number" [(ngModel)]="planta.id" name="id" id="id" required>
        </div>
          <button type="submit">Buscar</button>
      </form>
    </div>

    <div *ngIf="plantaCargada">
      <form>
        <div class="form-campo">
          <label for="comun">Nombre común: </label>
          <input type="text" [(ngModel)]="planta.nombreComun" name="comun" id="comun" placeholder="{{planta.nombreComun}}">
        </div>
        <div class="form-campo">
          <label for="cientifico">Nombre científico: </label>
          <input type="text" [(ngModel)]="planta.nombreCientifico" name="cientifico" id="cientifico">
        </div>
        <div class="form-campo">
          <label for="imgURL">URL de la imagen: </label>
          <input type="text" [(ngModel)]="planta.imagenUrl" name="imgURL" id="imgURL">
        </div>
        <div class="botones">
          <button (click)="modificarPlanta()">Modificar</button>
          <button (click)="borrarPlanta()">Borrar</button>
        </div>
      </form>
    </div>
  </article>
</main>
